.place__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    line-height: 76px;
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    max-width: 460px;
    color: #FFFFFF;
  }
  
  @media screen and (max-width: 1024px) {
    .place__title {
      max-width: 440px;
    }
  }
  
 
  @media screen and (max-width: 768px) {
    .place__title {
      font-size: 42px;
      max-width: 330px;
      line-height: 46px;
    }
  }
  
  @media screen and (max-width: 425px) {
    .place__title {
      font-size: 32px;
      margin-left: 16px;
      margin-right: 16px;
      line-height: 35px;
    }
  }