.cover__overlay{
    background: rgba(42, 44, 47, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1184px;
    min-height: 740px;
    width: 100%;
    height: 100%;
    text-decoration: none;
}


.cover__overlay:hover{
    background: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1024px){
    .cover__overlay{
        min-height: 640px;
    }
}

@media screen and (max-width: 768px){
    .cover__overlay{
        width: 100%;
        min-height: 480px;
    }
}

@media screen and (max-width: 425px){
    .cover__overlay{
        width: 100%;
        min-height: 200px;
    }
}
