@import url(./__link-item/footer__link-item.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__links/footer__links.css);

.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 24px;
  margin: 0 auto 0;
}

@media screen and (max-width : 1024px) {
  .footer {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    margin-left: 16px;
    margin-right: 16px;
    flex-direction: column;
    align-items: flex-start;
  }
}